In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
pd.set_option('display.max_rows', None)

In [5]:
file1 = pd.read_csv('/Users/segre/OneDrive/Desktop/IRONHACK/13.01.21/data_1.04_activities/files_for_activities/csv_files/merged_clean_ver1.csv')

In [6]:
file1.head()

,Unnamed: 0,id,state,gender,median_home_val,median_household_income,ic2,ic3,ic4,ic5,avggift,target_d
0,0,44060,FL,M,1158.437751,392,430.0,466,520.0,21975.0,28.000000,100.0
1,1,96093,IL,M,537.000000,365,415.0,410,473.0,19387.0,5.666667,7.0
2,2,43333,FL,F,725.000000,301,340.0,361,436.0,18837.0,4.111111,5.0
3,3,21885,NC,M,1158.437751,401,407.0,399,413.0,14014.0,27.277778,38.0
4,4,190108,FL,F,995.000000,252,280.0,316,348.0,17991.0,6.000000,5.0

In [7]:
file1 = file1.drop(['Unnamed: 0'], axis =1)

In [8]:
a = int(input("Enter a number"))

Enter a number10

In [9]:
b = int(input("Enter a number"))

Enter a number10

In [10]:
c = int(input("Enter a number"))

Enter a number10

In [11]:
sum_nums = lambda x,y,z: x+y+z
sum_nums(a,b,c)

30

In [16]:
lst = [1,2,3,4,5,6,7,8,10]
new_list=[]

In [18]:
cube = lambda x: x**3
for i in lst:
    new_list.append(cube(i))

In [19]:
new_list

[1, 8, 27, 64, 125, 216, 343, 512, 1000]